/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

$color_primary: #002D87;
$color_secondary: #ff7800;
$color_gray: gray;
$color_white: #ffffff;

.bcp-container{
    height: 100vh;
    .bcp-loading{
      z-index: 99999999999999;
        background: $color_primary;
        height: 100vh;
        img, .lds-ellipsis{
            max-width: 200px;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .bcp-header{
      height: 65px;
      background: #002D87;
      color: #ffffff;
      padding: 17px;
      position: fixed;
      z-index: 9999;
      width: 100%;
      top: 0;
        &__title{
            float: left;
            width: 60%;
            height: 65px;
            font-size: 18px;
            line-height: 30px;
        }
        &__buttons{
            float: right;
            text-align: right;
            width: 40%;
            height: 65px;
            font-size: 20px;
            i{
                margin-left: 20px;
                margin-right: 10px;
                color: $color_white;
            }
        }
        &__volver{
          float: left;
          width: 100px;
          a{
            font-size: 18px;
            font-weight: 600;
            color: $color_white;
            text-decoration: none;
            line-height: 32px;
            margin-right: 20px;
          }
          
          i{
            color: $color_white;
          }
        }
        &__busqueda{
          width: 100%;
          background-color: #002D87;
          height: 65px;
          padding: 14px 20px;
          border-radius: 18px;
        }
    }
    .bcp-body{
      margin-top: 90px;
      padding-bottom: 30px;
      .list-group{
       
        a small{
          color: $color_gray;
          font-size: 14px;
        }
        .favoicon-bpc{
          font-size: 20px;
          cursor: pointer;
        }
        .avatar-list-bcp{
          min-width: 100px;
          text-align: center;
          img{
            width: 80px;
            padding-bottom: 5px;
            border-radius: 100%;
          }
        }
      }
      .bcp-form-agencia{
        div{
          label{
            color: $color_primary
          }
        }
      }
      .boton-actualizar{
        background-color: $color_secondary;
        color: $color_white;
        border: none;
      }
      .favoicon-bpc i.fa-solid{
        color: $color_secondary;
      }
    }

    .bcp-float-add-button{
      div{
        background-color: $color_secondary;
        padding: 20px 22px;
        text-align: center;
        position: fixed;
        right: 20px;
        bottom: 20px;
        border-radius: 100%;
        z-index: 99999;
        cursor: pointer;
        
        i{
          color: $color_white;
          font-size: 30px;
        }
      }
    }
}

#map { height: 100%; }
.map-container{
  margin: 0 auto;
}


.list-group{
    display: block;
}
/* Spinner Styles */
@at-root.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: $color_white;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* /Spinner Styles */